<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <title>BPS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <nav class="h1 navbar navbar-light bg-faded">
      <%= link_to 'Black Professionals in STEM', root_path %>
    </nav>

  <body>
    <div id="flex-content-container">
    <%= yield %>

<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-2">
        <%= link_to 'About', about_path %>
      </div>
      <div class="col-12 col-sm-2">
        <%= link_to 'Gallery', gallery_path %>
      </div>
      <div class="col-12 col-sm-2">
        <%= link_to 'Join Our Team', joinourteam_path %>
      </div>
      <div class="col-12 col-sm-2">
        <b>Contact</b>
        <br />
        <%= mail_to 'info@blackstem.org' %>
      </div>
      <div class="col-12 col-sm-2">
        <%= link_to 'Donate', donate_path %>
      </div>
      <div class="col-12 col-sm-2 social">
          <%= link_to 'https://www.facebook.com/groups/2085952038303182/?ref=br_rs' do %>
          <i class="fab fa-facebook-square social-button fa-2x"></i>
          <% end %>
          <%= link_to '#' do %>
          <i class="fab fa-meetup social-button fa-2x"></i>
          <% end %>
          <%= link_to '#' do %>
          <i class="fab fa-linkedin social-button fa-2x"></i>
          <% end %>
      </div>
    </div>
  </div>
</div>
  </body>
</html>
