<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <title>BPS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <nav class="h1 navbar navbar-light bg-faded">
      <%= link_to 'Black Professionals in STEM', root_path %>
    </nav>

  <body>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1&appId=211620802725926&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <div id="flex-content-container">
    <%= yield %>

<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-2">
        <%= link_to 'About', about_path %>
      </div>
      <div class="col-12 col-sm-2">
        <%= link_to 'Gallery', gallery_path %>
      </div>
      <div class="col-12 col-sm-2">
        <%= link_to 'Join Our Team', joinourteam_path %>
      </div>
      <div class="col-12 col-sm-2">
        <b>Contact</b>
        <br />
        <%= mail_to 'info@blackstem.org' %>
      </div>
      <div class="col-12 col-sm-2">
        <%= link_to 'Donate', donate_path %>
      </div>
      <div class="col-12 col-sm-2 social">
          <%= link_to 'https://www.facebook.com/BPSBayArea/' do %>
          <i class="fab fa-facebook-square social-button fa-2x"></i>
          <% end %>
          <%= link_to 'http://meetu.ps/c/3G4Kr/xCQgN/f' do %>
          <i class="fab fa-meetup social-button fa-2x"></i>
          <% end %>
          <%= link_to 'https://www.linkedin.com/groups/13617142' do %>
          <i class="fab fa-linkedin social-button fa-2x"></i>
          <% end %>
      </div>
    </div>
  </div>
</div>
  </body>
</html>
